.scrollableTabs {
  /* display: flex; */
  overflow-x: auto;
  /* white-space: nowrap; */
  scrollbar-width: thin;
  scrollbar-color: #888888 #f4f4f4;
  padding-bottom: 10px; /* Sesuaikan sesuai kebutuhan */
}

.tabs{
  display: flex !important;
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
  /* background-color: red !important; */
}

.badge{
  color: red;
}